*{
  box-sizing: border-box;
  }


p {
  font-size: 18px;
  text-align: center;
}

h3 {
  text-align: center;
}

body{
width: 500px;
}

img{
  height: 200px;
  margin:0 auto;
  position: relative;
  left: 300px;
}
h1 {
  text-align: center;
  font-family: Papyrus;
  color: blue;
}
