*{
  box-sizing: border-box;
  }


p {
  font-size: 18px;
  text-align: center;
}

h3 {
  text-align: center;
}

body img{
  height: 200px;
  width: 300px;
  margin:0 auto;
}
h1 {
  text-align: center;
  font-family: Papyrus;
  color: blue;
}
